# 2. Variables and Data Types in Python
### NoteBook Author: Muhammad Hamad

Variables are nothing but reserved memory locations to store values. It means that when you create a variable, you reserve some space in the memory. In python, Based on the data type of a variable, the interpreter allocates memory and decides what
can be stored in the reserved memory

### Task 1:  Create Some Variables

In [1]:
a=1 # integer variable
b='apple' # string variable
c=2.3 # float

print(a,type(a))
print(b,type(b))
print(c,type(c))

1 <class 'int'>
apple <class 'str'>
2.3 <class 'float'>

### Task 2: MultipleAssignment

In [3]:
a=b=c= 3
# a,b and c all points to same memory location
print(a,b,c)

3 3 3

In [5]:
a,b,c = 1,2,'ali'
print(a,b,c)

1 2 ali

##### Note: Python has five standard data types-
1.  Numbers
2.  String
3.  List
4.  Tuple
5.  Dictionary

### Task 3: Numbers

In [12]:
a=2
print("Before Deletion: ", a)
del a
print ("After Deletion: ", a) # variable deleted so will get an error

Before Deletion:  2

NameError: name 'a' is not defined

#### Python supports three different numerical types âˆ’
1. int (signed integers),  -786
2. float (floating point real values),   15.20
3. complex (complex numbers),  3e+26J

> A complex number consists of an ordered pair of real floating-point numbers denoted by x + yj, where x and y are real numbers and j is the imaginary unit.

### Task 4: Python Strings
Strings in Python are identified as a contiguous set of characters represented in the quotation marks.

In [14]:
#single and double quotes doesn't matter
s1 = 'apple'
s2 = "clock"
print(s1,s2)

apple clock

In [16]:
# strings slicing
s3 = s1[1:3]
s4 = s1[2:]
print(s3,s4)

pp ple

In [17]:
'abc'+'def' # concatenation

'abcdef'

In [19]:
'ab'*3 # repeats string 3 times

'ababab'

### Task 5: Python Lists
They are like arrays in C language, but may contain elements of different data types

In [45]:
# creating 2 lists using squre brackets
l1=['apple','1',2.3]
l2=[4,7,'2','Grapes']

print(l1,l2)

['apple', '1', 2.3] [4, 7, '2', 'Grapes']

In [27]:
l3=l1+l2 # list concatenation
print(l3)

['apple', '1', 2.3, 4, 7, '2', 'Grapes']

In [30]:
l3[1:]

['1', 2.3, 4, 7, '2', 'Grapes']

In [39]:
l1*3 # repeating l1 list

['apple', '1', 2.3, 'apple', '1', 2.3, 'apple', '1', 2.3]

In [40]:
l1[2] #indexing list element

2.3

In [47]:
l2

[4, 7, '2', 'Grapes', 'mango']

In [46]:
l2.append('mango') # adding element to list
print(l2)

[4, 7, '2', 'Grapes', 'mango']

### Task 6: Python Tuples (read only lists)
1. enclosed in ()
2. can't be updated once created

In [48]:
t=(2,'apple',3,4)
print(t)

(2, 'apple', 3, 4)

In [49]:
t[0]

2

In [51]:
t[0]=3 # will generate an error

TypeError: 'tuple' object does not support item assignment

### Task 7: Python Dictionary (Hash table / Key-Value Pair)
Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([]).

In [54]:
d={'id':1,'name':'hamad'}
print(d)

{'id': 1, 'name': 'hamad'}

In [56]:
d['average']=3.7
print(d)

{'id': 1, 'name': 'hamad', 'average': 3.7}

In [69]:
print(d['name'])
print(d.keys()) # return keys in dictionary
print(d.values()) # return values in dictionary

print(type(d.keys())) 
print(type(d.values()))

hamad
dict_keys(['id', 'name', 'average', 3])
dict_values([1, 'hamad', 3.7, 'value'])
<class 'dict_keys'>
<class 'dict_values'>

In [67]:
d[3]='value' # can also use integer keys
print(d[3])

value

### Task 8: Data Type Conversion
To convert between types, you simply use the type-name as a function

In [73]:
a=2
b=3.5
c="apple"
d=[1,2,3]
e=(2,"mango",6.8)
f={'name':'ali','marks':90}

print('\n Integer',a,type(a),
      '\n Float',b,type(b),
      '\n String',c,type(c),
      '\n List',d,type(d),
      '\n Tuple',e,type(e),
      '\n Dictionary',f,type(f))

 Integer 2 <class 'int'>
 Float 3.5 <class 'float'>
 String apple <class 'str'>
 List [1, 2, 3] <class 'list'>
 Tuple (2, 'mango', 6.8) <class 'tuple'>
 Dictionary {'name': 'ali', 'marks': 90} <class 'dict'>

In [75]:
#int to string
(str(a))

'2'

In [77]:
(int(c)) # apple cannot be converted to integer

ValueError: invalid literal for int() with base 10: 'apple'

In [79]:
a='234' # string is convertible to int
int(a)

234

In [81]:
list(c) # apple is converted to list or chracter array

['a', 'p', 'p', 'l', 'e']

In [82]:
tuple(d)

(1, 2, 3)

> So we have seen that conversion from one form to other is possible in python