# 7. String Data Type - Useful Functions
### NoteBook Author: Muhammad Hamad

### Task: Accessing Values in Strings

In [7]:
a="Hello Python"
print("a[3] ",a[3]) # access by index
print("a[6:] ",a[6:]) # a[start:end] subslice of string
print("a[-1:-3] ",a[-3:-1]) # negative indexing string , -1 represents last element of string

a[3]  l
a[6:]  Python
a[-1:-3]  ho

### Task: Membership Operator

In [12]:
a="hello i am python"
"am" in a # am exist in above string

True

### Task: String Formatting Operator

In [19]:
print("My name is %s and i am %d years old"%("hamad",28)) 
# %s string replacememnt, %d integer replacement, After % provide values required

My name is hamad and i am 28 years old

### Task: Triple Quotes
Python's triple quotes comes to the rescue by allowing strings to span multiple lines, including verbatim NEWLINEs, TABs, and any other special characters

In [21]:
s='''Lorem Ipsum is simply dummy text of the printing and typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially 
unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.'''

print("This is multi Line Text : ", s)

This is multi Line Text :  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book.
It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

### Task: Raw Strings

In [26]:
s=r"c:\\file1.jpg"
s

'c:\\\\file1.jpg'

### Task: String Functions

In [35]:
a="i am from Pakistan"
print("Length of string: ",len(a))
print(a.capitalize()) # capitalize first letter of string

Length of string:  18
I am from pakistan

In [34]:
print(a.center(40,'*')) # Change total string length to 40 and pad '*' around original string

***********i am from Pakistan***********

In [37]:
print(a.count('m',0,len(a))) # count 'm' in string a from start to end of string

2

In [49]:
import base64
Str = "Example of encoding";  
encoded= base64.b64encode(bytes(Str,'utf-8'))# encode string to base64 
print('Encoded: ',encoded)
decoded=base64.b64decode(encoded) # Decode string to base64 
print('Decoded: ',decoded)

Encoded:  b'RXhhbXBsZSBvZiBlbmNvZGluZw=='
Decoded:  b'Example of encoding'

In [52]:
str="I am in Pakistan"
str.endswith('Pakistan') # checks if string ends with provided substring

True

In [103]:
str="I am in Pakistan"
str.startswith('i') # checks if string starts with provided substring, Case Sensitive

False

In [56]:
str="I am in Pakistan"
str.find('am') # checks and provides index of 'am' in string and returns -1 if substring not found

2

In [58]:
str="this is 70 and $"
str.isalnum() # checks if string is alpha numeric

False

In [62]:
str="thisis70"
str.isalnum() # checks if string is alpha numeric , spaces are also considerd as non alpha numeric

True

In [66]:
str="12455323python"
str.isnumeric() # string should only contains digits

False

In [67]:
str="12455323"
str.isnumeric() # string should only contains digits

True

In [69]:
# join a sequence of elements based on delimtter
d=' ** '
d.join(('hello','from','python'))

'hello ** from ** python'

In [70]:
d=' ** '
d.join(['hello','from','python'])

'hello ** from ** python'

In [71]:
d=' ** '
type(d.join(['hello','from','python']))

str

In [73]:
# converts string to lower case
a="THIS IS PAKISTAN"
a.lower()

'this is pakistan'

In [75]:
# converts string to upper case
a="this is pakistan"
a.upper()

'THIS IS PAKISTAN'

In [104]:
# swap case of string
a="this is pakistan"
a.swapcase()

'THIS IS PAKISTAN'

In [79]:
a="***string has extra chracters*******"
a.strip('*') # a.lstrip, a.rstrip

'string has extra chracters'

In [85]:
intab='12345'
outtab='abcde'
transtab=str.maketrans(outtab,intab) # map chracter from intab with outab

s="This is an exmple string to demonstrate maketrans function"

s.translate(transtab) # replace chracters in string with chracter map

'This is 1n 5xmpl5 string to 45monstr1t5 m1k5tr1ns fun3tion'

In [92]:
# Replace substring in string
s="i contain apple mango and then again apple mango and this apple would not be replaced because 2 apples are already replaced"
s.replace('apple','grapes',2) # replace 1st 2 occurences of apple with grapes

'i contain grapes mango and then again grapes mango and this apple would not be replaced because 2 apples are already replaced'

In [95]:
# Split String based on delimitter
s='i*am*from*Pakistan'
s.split('*')

['i', 'am', 'from', 'Pakistan']

In [96]:
s='i*am*from*Pakistan'
s.split('*',2) # specify number of partitions required

['i', 'am', 'from*Pakistan']

In [100]:
# split lines of text
s='first line.\n second line.\n third line'
s.splitlines()

['first line.', ' second line.', ' third line']

In [107]:
# zfill padd 0 to left

a=' i am from pakistan'
s=' a car'
d=' These are python fundamentals lectures'
print('a: ',a.zfill(50))
print('s: ',s.zfill(50))
print('d: ',d.zfill(50))

a:  0000000000000000000000000000000 i am from pakistan
s:  00000000000000000000000000000000000000000000 a car
d:  00000000000 These are python fundamentals lectures