# 9. Tuples in Python

### NoteBook Author: Muhammad Hamad

1. The main difference between the tuples and the lists is that the tuples cannot be changed unlike lists. 
2. Tuples use parentheses, whereas lists use square brackets.

## Creating a tuple

In [2]:
t=(1,2,3,4,'apple')
t

(1, 2, 3, 4, 'apple')

In [9]:
t=(1) # must use comma after 1st element otherwise it would be treated not as tuple
type(t)

int

In [11]:
t=(1,) # now treated as tuple
type(t)

tuple

## Accessing an element - same as list

In [15]:
t=(1,2,3,4)
t

(1, 2, 3, 4)

In [16]:
t[2]

3

In [17]:
t[2:]

(3, 4)

## Updating a tuple 
> - Not allowed - tuples are read only

## Concatenating a tuple

In [19]:
t1=(1,2)
t2=(3,4)
t3=t1+t2 # creating a new tuple
t3

(1, 2, 3, 4)

## Removing tuple
> Removing individual elements from tuple is not allowed

In [20]:
t

(1, 2, 3, 4)

In [21]:
del t[1]

TypeError: 'tuple' object doesn't support item deletion

In [22]:
del t

In [24]:
t # after tuple deletion

NameError: name 't' is not defined

## Most of the function in list and tuple are same so would not be discussed again here, see my lecture lists in python